@page "/Chat"
@using ChatPractice.DTO.Dtos.Message
@using ChatPractice.DTO.ViewModels
@using Ardalis.Result
@attribute [StreamRendering]
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>Chat with user [N]</p>

@if (directMessageViewModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul class="ul">
        @foreach (var message in directMessageViewModels)
        {
            <li>@message.UserName [@message.CreatedAt]: @message.Message</li>
        }
    </ul>
}

@code {
    private List<ChatMessageDto>? messages;
    private List<DirectMessageViewModel>? directMessageViewModels;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7040/api/Chat/GetChatMessages?recieverId=1");
            request.Headers.Add("Authorization", "d4c1faeba3584b1ab3f24013e76a199c067e29297ed6473a983d75d0550dfceb"); // TODO: Replace with your actual token

            var response = await Http.SendAsync(request);

            /*
             *  if (!response.IsSuccessStatusCode)
             *  {
             *      // TODO Handle the error response properly
             *      throw new Exception($"Failed to fetch messages. Status code: {response.StatusCode}");
             *  }
             *
             *  var responceValue = GetResponceValue<CurrentRequiredType>(response);
             *
             *
             *
             */

            if (!response.IsSuccessStatusCode)
            {
                throw new Exception($"Failed to fetch messages. Status code: {response.StatusCode}");
            }

            var responseBody = await response.Content.ReadFromJsonAsync<Result<List<ChatMessageDto>>>();

            List<ChatMessageDto> messages;

            if (responseBody == null || responseBody.Value == null)
            {
                messages = new List<ChatMessageDto>();
            }
            else
            {
                messages = responseBody.Value;
            }

            if (messages == null)
            {
                messages = new List<ChatMessageDto>();
            }

            directMessageViewModels = messages.Select(m => new DirectMessageViewModel
                {
                    Message = m.Text,
                    UserName = m.UserName,
                    CreatedAt = m.SendingDate
                }).ToList();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error loading chat messages: {ex.Message}");
            messages = new List<ChatMessageDto>();
            directMessageViewModels = new List<DirectMessageViewModel>();
        }
    }
}
